lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb
.sass-cache
temp



pids
logs
results

.DS_Store
config.js
config-local.js
config-remote.js
.idea
idea/*
src/frontend/styles/zurb-foundation/.sass-cache
src/frontend/libs/angular/docs/*

node_modules
npm-debug.log
traces.log
node_modules
npm-debug.log

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.idea/*

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

dist
# Windows
Thumbs.db
Desktop.ini