extends layout

block content
    div(class='container-narrow')
        div(class='masthead')
            ul(class='nav nav-pills pull-right')
                li
                    a(href='/')
                        | Home
                li(class='active')
                    a(href='#')
                        | About
            h3(class='muted')
                | Nakack
        hr
        div(class='jumbotron')
            h1
                | About Us
            p(class='lead')
                | The Nakack team met at Credit Suisse where they developed a
                | proprietary realtime PnL attribution and Risk calculation
                | platform.  They have extensive experience building very large
                | distributed systems that perform at realtime speed.
        hr
        div(class='row-fluid marketing')
            div(class='span6')
                h4 Tom Mitchell
                h6 Co-Founder
                h6
                    a.light(href='https://twitter.com/tpmitchell', target='_blank') @tpmitchell
                p
                    | Tom has spent several years leading a team and developing PnL
                    | attribution & Risk calculation platforms for Credit Suisse.
                    | He has also developed advanced software for the Oil and Gas industry,
                    | enabling interaction and validation between process flow schematics
                    | and 3d cad models.
                p
                    | Tom holds a BSc in Computer Programming from University of Kent, Canterbury.
            div(class='span6')
                h4 Ankur Gurha
                h6 Co-Founder
                h6
                    a.light(href='https://twitter.com/agurha', target='_blank') @agurha
                p
        hr
        div(class='footer')
            p Nakack 2013