//
   Created with JetBrains WebStorm.
   User: agurha
   Date: 19/03/2013
   Time: 10:42
   To change this template use File | Settings | File Templates.

extends layout

block content
  nav.navbar
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='https://knacknack.com/')
        .nav-collapse
          ul.nav
            li
              a(href='/about/') About us
  article(class='container')
    div(class='page')
      h1 About Us

      p
        | Ack : Acknowledgement
        | Nak : Negative Acknowledgement
      p
        | The Nakack team met at Credit Suisse where they developed a proprietary realtime PnL attribution and Risk calculation platform.
        | They have extensive experience building very large distributed systems that perform at realtime speed.

    hr

      h2
        | The Team

      small
        small
          .row.team
            p.span3
              img(src='', width='72', height='72')
              strong Tom Mitchell
              br
              | Co-Founder
              br
              a.light(href='https://twitter.com/tpmitchell', target='_blank') @tpmitchell
              p
                | Tom has spent several years leading a team and developing PnL attribution & Risk calculation platforms for Credit Suisse.
                | He has also developed advanced software for the Oil and Gas industry, enabling interaction and validation between process flow schematics and 3d cad models.
              p
                | Tom holds a BSc in Computer Programming from University of Kent, Canterbury.
              p.span3
              img(src='', width='72', height='72')
              strong Ankur Gurha
              br
              | Co-Founder
              br
              a.light(href='https://twitter.com/agurha', target='_blank') @agurha
