extends layout

block content
  div(class='container-narrow')
    div(class='masthead')
      ul(class='nav nav-pills pull-right')
        li(class='active')
            a(href='#')
              | Home
        li
            a(href='/about/')
              | About
      h3(class='muted')
        | Nakack
    hr
    div(class='jumbotron')
      h1
        | Communication reimagined!
      p(class='lead')
        | Nakack is an ambitious plan to restructure the way we handle
        | online social interaction and consumption of information.
    hr
    div(class='row-fluid marketing')
      div(class='span6')
        h4 Information overload
        p
          | With much finer control you will be able to limit your news stream
          | to only the articles that you are interested in.
      div(class='span6')
        h4 Go against the grain
        p
          | We place as much importance on specific conversations as we do
          | to trending ones.  Never again feel in the minority once you are
          | able to discover and chat with people from all over the world
          | who share your passion.
    hr
    div(class='footer')
      p Nakack 2013