extends layout

block content
  div(class='container-narrow')
    div(class='masthead')
      ul(class='nav nav-pills pull-right')
        li(class='active')
            a(href='#')
              | Home
        li
            a(href='/about/')
              | About
      h3(class='muted')
        | Nakack
    hr
    div(class='jumbotron')
      h1
        | Communication reimagined!
      p(class='lead')
        | Nakack is an ambitious plan to restructure the way we handle
        | online social interaction and consumption of information.
    hr
    div(class='row-fluid marketing')
      div(class='span6')
        h4 Information overload
        p
          | With much finer control over the subject matter which enters your
          | news stream you'll be able to tame the torrent of messages
          | down to a precisely controlled trickle.
      div(class='span6')
        h4 Go against the grain
        p
          | We place as much importance on specific conversations as we do
          | to trending ones.  Never again feel in the minority once you are
          | able to discover and chat with people from all over the world
          | who share your passion.
        h4 Get your day back
        p
          | The amount of online sharing is increasing at an exponential
          | rate, however, the amount of time we each spend glossing through
          | feeds and social sites is going up to.  With Nakack you won't
          | have to sift through mountains of messages to pick out the ones
          | you are interested in.
    hr
    div(class='footer')
      p Nakack 2013