extends layout

block content
  div(class='container-narrow')
    div(class='masthead')
      ul(class='nav nav-pills pull-right')
        li(class='active')
            a(href='#') Home
        li
            a(href='/about/') About
      h3(class='muted') NakAck
    hr
    div(class='jumbotron')
      h1 Communication reimagined!
      p(class='lead')
        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    hr
    div(class='row-fluid marketing')
    hr
    div(class='footer')
      p Nakack 2013